@using DodatnaNaloga.Services

@inherits ConfirmBaseService

@if (ShowConfirm == true)
{
    <div class="modal fade show d-block" id="DeleteModel" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Potrdi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Ste prepričani, da želite odstraniti?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Prekliči</button>
                    <button type="button" class="btn btn-danger">Izbriši</button>
                </div>
            </div>
        </div>
    </div>
}
